.abc
{
    display: flex;
    padding-left:35%;
    

}
.txt
{
    padding-left:3%;
    padding-top:2.5%;
}
.image:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 15px 0px;
}
.txt1
{
    height:50%;
}
.jk
{
    padding-left:20%;
    display: flex;
}
.kv
{
    padding-left:20%;
    display: flex;
}
p{
    color: black;
}